.section.first-section
    .container 
        .first-section_content
            h1.first-section_title
                span.primary Order ahead 
                | and earn rewards for every purchase
                span.orange .

            a(href="#").first-section_link                
                span Discover how
                img(src="./assets/imgs/arrow.svg", alt="arrow") 
    
        img(src="./assets/imgs/main_img.png", alt="people").first-section_img