header.header 
   div.container
    .header_row
        a(href="index.html").logo
            img(src="./assets/imgs/logo.svg", alt="logo").logo_img
        .header_links
            a(href="#").link-header Stores
            a(href="#").link-header Help & Support
            a(href="#").link-header.link-header--inverse Download 